.headline {
  font-weight: 300;
  font-size: 1.9rem;
  color: $mainBlue;

  @mixin atLarge {
    font-size: 2.875rem; /* 64/16 */
  }

  &--orange {
    color: $mainOrange;
  }

  &--centered {
    text-align: center;
  }

  &--small {
    font-size: 1.2rem;
    max-width: 500px;

    @mixin atLarge {
      font-size: 1.875rem; /* 30 / 16 */
    }
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }


}
